<footer class="bg-gray-800 text-white py-4">
    <div class="footer-content container mx-auto px-6 text-center">
        <p>&copy; 2026 GrocerAI. All rights reserved.</p>
        <ul class="footer-links mt-2">
            <li><a href="#" class="text-gray-300 hover:text-white bg-gray-700 rounded px-3 py-1 mb-2">About Us</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white bg-gray-700 rounded px-3 py-1 mb-2">Contact</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white bg-gray-700 rounded px-3 py-1 mb-2">Privacy Policy</a></li>
        </ul>
    </div>
    <div>
        <p class="text-gray-400 text-sm text-center mt-2">
            Developed and Maintained by: <span class="text-green-600 font-semibold">Mahabir [B.tech CSE DS]</span>
        </p>
    </div>
</footer>